{% extends "main/base.html" %}
{% load static %}

{% block title %}
    Your Shopping Cart
{% endblock %}

{% block content %}
<h1>Ваша корзина</h1>

{% if cart %}
<div class="cart-container">
    <div class="product-grid">
        {% for item in cart %}
            {% with product=item.product %}
                <div class="product-card">
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{{ product.image.url }}" alt="{{ product.title }}">
                        <div class="product-info">
                            <p class="product-category">{{ product.category }}</p>
                            <h3 class="product-name">{{ product.title }}</h3>
                        </div>
                    </a>
                    <div class="product-details">
                        <p>Цена товара: ${{ item.price }}</p>
                        <p>Количество: {{ item.quantity }}</p>
                        <p>Итого: ${{ item.total_price }}</p>
                        <a href="{% url 'cart:cart_remove' product.id %}?size={{ item.size }}">Удалить</a>

                    </div>
                </div>
            {% endwith %}
        {% endfor %}
    </div>

    <div class="cart-summary">
        <h2>Итого: ${{ cart.get_total_price }}</h2>
        <a href="{% url 'products' %}" class="button light">Продолжить покупки</a>
        <a href="{% url "orders:order_create" %}" class="button checkout">Заказать</a>
    </div>
</div>
{% else %}
    <p>Ваша корзина пуста</p>
    <a href="{% url 'products' %}" class="button">Каталог</a>
{% endif %}
{% endblock %}
