{% extends "main/base.html" %}
{% block content %}
<div class="catalog-container">
{% include "main/sidebar.html" %}
{% for product in products %}
<div class="product-grid">
  <div class="product-card">
    <a href="{{product.get_absolute_url}}">
      <img src="{{product.image.url}}" alt="{{product.title}}">
      <div class="product-info">
        <p class="product-type">{{product.category}}</p>
        <h3 class="product-name">{{product.title}}</h3>
        <p class="product-price">{{product.price}}</p>
      </div>
    </a>
</div>
 
  </div>
</div>

{% endfor %}
</div>
{% endblock content %}
