{% load static %}
<link rel="stylesheet" href="{% static 'footer.css' %}">
 <footer>
  <div class="footer-row">
    <div class="footer-block">
      <h4>Контакты</h4>
      <p><a href="tel:+79991234567">+7 (999) 123-45-67</a></p>
      <p><a href="mailto:info@example.com">info@example.com</a></p>
    </div>

    <div class="footer-block">
      <h4>Соцсети</h4>
      <p><a href="#">ВКонтакте</a></p>
      <p><a href="#">Telegram</a></p>
      <p><a href="#">Instagram</a></p>
    </div>

    <div class="footer-block">
      <h4>Адреса</h4>
      <p>Москва, ул. Примерная, 1</p>
      <p>СПб, Невский пр., 100</p>
    </div>

    <div class="footer-block">
      <h4>Поддержка</h4>
      <p><a href="#">FAQ</a></p>
      <p><a href="#">Возврат</a></p>
      <p><a href="#">Поддержка</a></p>
    </div>
  </div>

  <div class="footer-bottom">
    © 2025 Все права защищены
  </div>
</footer>
